/* tailwind样式 */
@tailwind base;

@tailwind components;

@layer components {
}

@tailwind utilities;
html {
  font-size: 16px;
}
/* 全局样式 */
body {
  line-height: 1.5;
  font-size: 0.8750rem; //14px
  color: var(--cp-text1);
  margin: 0 auto;
  max-width: 480px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

:root:root {
  --cp-primary: #166fe5;
  --cp-plain: #eaf8f6;
  --cp-orange: #fca21c;
  --cp-text1: #121826;
  --cp-text2: #3c3e42;
  --cp-text3: #6f6f6f;
  --cp-tag: #848484;
  --cp-dark: #979797;
  --cp-tip: #c3c3c5;
  --cp-disable: #d9dbde;
  --cp-line: #ededed;
  --cp-bg: #f6f7f9;
  --cp-price: #eb5757;
  // 覆盖vant的变量
  --van-primary-color: var(--cp-primary);
  --van-nav-bar-height:3.25rem;
  --van-nav-bar-text-color:var(--cp-plain);
  // 单元格上下间距
  --van-cell-group-inset-radius:1rem;
  --van-padding-base:0.75rem;
  --van-nav-bar-icon-color:#323233;
  --van-nav-bar-title-font-size:1rem;
  .van-nav-bar--fixed{
    max-width: 480px;
    margin: 0 auto;
    left:0;
    right: 0;
  }
}
// 弹窗样式
.dialog-wrap {
  display: flex;
  flex-direction: column;
  padding: 2.4038rem 1.8990rem 0.9615rem;
  background: var(--van-white);
  .dialog-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.5024rem;
    margin-bottom: 3.0048rem;
  }
  .content-wrap {
    margin-top: 3.0048rem;
    .content-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.0216rem;
      margin-bottom: 2.0433rem;
      .label {
        color: var(--van-gray-7);
        min-width: 4.8077rem;
      }
      .input-wrap {
        display: flex;
        align-items: center;
        height: 3.9664rem;
        border-bottom: 1px solid rgb(229, 229, 229);
      }
      .text {
        flex: 1;
        flex-shrink: 0;
        margin-left: 0.6010rem;
        text-align: right;
        color: var(--van-black);
        font-weight: 500;
        word-break: break-all;
      }
    }
  }
  .desc {
    text-align: center;
    font-size: 0.9014rem;
    color: var(--van-gray-7);
    margin-bottom: 1.8029rem;
  }
  .form-wrap {
    .label {
      font-size: 0.9014rem;
      color: var(--van-gray-7);
    }
    .input-wrap {
      display: flex;
      align-items: center;
      height: 3.9664rem;
      border-bottom: 1px solid rgb(229, 229, 229);
      .label {
        margin-right: 0.6010rem;
        font-size: 1.3221rem;
        color: var(--van-black);
        font-weight: 700;
      }
      .van-cell {
        font-size: 1.3221rem;
        font-weight: 700;
        padding-left: 0;
      }
    }
    .form-tips {
      display: flex;
      align-items: center;
      margin-top: 0.9014rem;
      font-size: 0.7212rem;
      color: var(--van-primary-color);
      .count-money {
        margin-right: 0.6010rem;
        color: var(--van-black);
      }
      .all-text {
        color: var(--van-primary-color);
        cursor: pointer;
      }
    }
    .coupon-item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #f0f2f5;
      border-radius: 0.7212rem;
      height: 3.0048rem;
      padding: 0 1.0817rem;
      color: var(--van-black);
      font-size: 0.7212rem;
      margin-top: 1.0817rem;
      .status {
        display: flex;
        align-items: center;
        .status-text{
          margin-right: 0.3606rem;
          font-size: 0.7212rem;
          font-weight: 500;
          color: #adadad;
        }
      }
    }
  }
  .banner {
    display: block;
    margin: 1.2019rem auto;
  }
  .text {
    font-size: 1.0817rem;
    font-weight: 500;
    color: var(--van-black);
    text-align: center;
    padding: 0 0.9615rem;
  }

  .van-password-input__security,
  .van-password-input__security li {
    &::after{
      border-color:#ccc;
    }
  }
}
#nprogress .bar {
  // background-color: var(--cp-price);
}

